nav.navbar.bootsnav ul.nav > li > a{
    position: relative;
    font-weight: 700;
    font-size: 18px;
    color: #000000;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 30px;
}

#login,#signup, #logout, #userView{
   font-size: 18px;
   color:black;
}
#logout{
   margin-left: -20px;
   font-size: 18px;
   color:#0F694D;
}